.laser-flow-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

@media (max-width: 900px) {
  .laser-flow-container {
    display: none;
  }
}
